*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --pcolor : rgb(243, 24, 199);
}

body{
    overflow-x: hidden;
}
.logo{
    height: 7vh;
    margin-left: 100px;
}
.links{
    margin-right: 100px;
}
.links a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--pcolor);
    padding: 8px 12px;
    border-radius: 20px;
}
.links a:hover{
    transition: .2s;
    box-shadow: 0px 0px 8px var(--pcolor);
}
nav{
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 0px 40px var(--pcolor);
}

section{
    margin-top: 15vh;
    margin-left: 100px;
}

h2{
    color: var(--pcolor);
    margin-bottom: 10px;
}

p{
    width: 60vw;
    line-height: 25px;
}

#aboutvideo{
    display: block;
    width: 500px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#autoplay1{
    width: 500px;
    margin-top: 30px;
    border-radius: 10px;
}
