*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --pcolor : rgb(243, 24, 199);
}

.logo{
    height: 7vh;
    margin-left: 100px;
}
.links{
    margin-right: 100px;
}
.links a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--pcolor);
    padding: 8px 12px;
    border-radius: 20px;
}
.links a:hover{
    transition: .2s;
    color: var(--pcolor);
    box-shadow: 0px 0px 8px var(--pcolor);
}
nav{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 0px 40px var(--pcolor);
}

#form{
    display: flex;
    flex-direction: column;
}   

section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type = "text"]{
    margin: 9px 5px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--pcolor);
}
input[type = "text"]:focus{
    outline: none;
    box-shadow: 0px 0px 9px var(--pcolor);
}

#mail{
    width: 400px;
}

#message{
    border: 1px solid var(--pcolor);
    margin: 9px 5px;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 200px;
}
#message:focus{
    outline: none;
    box-shadow: 0px 0px 9px var(--pcolor);
}

#send{
    margin: 10px 5px;
    width: 190px;
    padding: 7px 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--pcolor);
    color: white;
    
}

#send:focus{
    background-color: white;
    color: var(--pcolor);
    box-shadow: 0px 0px 9px var(--pcolor);
}