*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --pcolor : rgb(243, 24, 199);
}
.logo{
    height: 7vh;
    margin-left: 100px;
}
.links{
    margin-right: 100px;
}
.links a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--pcolor);
    padding: 8px 12px;
    border-radius: 20px;
}
.links a:hover{
    transition: .2s;
    box-shadow: 0px 0px 6px var(--pcolor);
}
nav{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 0px 40px var(--pcolor);
}

.sec1{
    display: none;
    position: absolute;
    background-image: url(./bg.jpg);
    background-position: 0PX -290PX;
    background-size: 100%;
    width: 100vw;
    height: 90vh;
    /* background-color: #0a1857; */
}

.sec2{
    display: none;
    position: absolute;
    width: 100vw;
    height: 90vh;
}
.sec3{
    display: none;
    position: absolute;
    width: 100vw;
    height: 90vh;
}

.active{
    display: block;
}
#quoteouter{
    width: 50vw;
    height: 90vh;
    display: flex;
    margin-left: 100px;
    align-items: center;
}
#quote{
    color: rgb(243, 24, 199);
    font-size: 50px;
    width: 40vw;
}

.dots{
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    margin-bottom: 150px;
    display: flex;
}
.dot{
    cursor: pointer;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: var(--pcolor);    
}

.actived{
    background-color: #0a1857;
}

#awardc{
    margin-top: 100px;
    margin-left: 100px;
}
#awardh{
    color: var(--pcolor);
    margin-bottom: 20px;
}

#award li{
    margin-top: 5px;
}

#newsc{
    margin-top: 100px;
    margin-left: 100px;
}

#newsh{
    color: var(--pcolor);
    margin-bottom: 20px;
}

#news{
    width: 50vw;
    line-height: 25px;
}